/*@font-face{font-family:'Traj'; src: url('../fontface/traj.eot');}*/
@font-face{font-family:'Traj'; src: url('../fontface/trajb.eot');}

.subnav li{height:29px!important;}
.subnav li.tall2x{height:49px!important;}
.subnav .sy-login a{height:13px!important; line-height:14px;}

/*.subnav li{height:30px;}*/

.nav li a{margin:0 4px;}
.nav li a:hover,.nav li.current a{background:#3d72a0;border-width:0!important;margin:0px 4px!important; color:#fff; text-decoration:none;}
.nav li a:active{background:#4584BA;border-width:0!important;margin:0px 4px;outline:0!important;  color:#fff; text-decoration:none;}

.subnav li a, 
.subnav li a:hover, 
.subnav li a:active, 
.subnav li
.current a{color:#022c3d; text-decoration:none; margin:0!important; border:0!important;}

.sliding{ left:-550px; opacity:auto!important;}